@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #ffffff;
  background-color: #252836;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1194px;
  padding: 0 20px;
}

/* width */
::-webkit-scrollbar {
  position: relative;
  width: 3px;
  border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
